@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.logo p{
	color: #3B3B6E;
	font-size: 20px;
	font-weight: bold;
	font-family: Madimi One; 
	
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}

header {
	/* height: 90vh; */
	/* background: #000; */
}
.black {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

nav {
	padding-top: 5px;
	padding-bottom: 5px;
	top: 0;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 1000;
	background: #F5F5F5;
	justify-content: space-around;
	transition: 1.5s;
	align-items: center;
}

nav ul {
	display: flex;
	align-items: center;
}

nav ul li {
	list-style: none;
	margin: 5px 10px;
}
nav ul li a {
	padding: 2px 10px;
	color: #2e2e2e;
	cursor: pointer;
	transition: .5s ease-in-out;
	text-decoration: none;
}
nav ul li a:hover {
	color: #fff;
	border-radius: 5px;
	background: #3B3B6E;
	margin-left: 30%;
}
.active {
	color: #fff;
	border-radius: 5px;
	background: #3B3B6E;
}

/* .two:hover ~ a {
	margin-left: 25%;
} */

.nav-button .btn  {
    width: 85px;
    height: 35px;
    font-weight: 400;
    background: #3B3B6E;
    border: none;
	color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(67, 49, 49, 0.5);
}
#registerBtn{
    margin-left: 15px;
}

.btn.white-btn{
    background: #3B3B6E;
}
.btn.btn.white-btn:hover{
    background: rgba(16, 7, 7, 0.5);
}

.get-started {
	margin-left: 50px;
	padding: 5px 20px;
	border: 2px solid #3B3B6E;
	border-radius: 20px;
	text-decoration: none;
	transition: .5s;
	background-color: #3B3B6E;
	color: #fff;
}
.get-started:hover {
	color: #2e2e2e;
	background: #fff;
}
/* .logo{
  width: 200px;
} */

.logo img{
	width: 90px;
	cursor: pointer;
	transition: all 1s;
}

/* .nav ul li img {
	width: 20px;
	margin-right: 10px;
	transform: translateY(5px);
	padding-top: 5px;
} */

a, button {
	float: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #2E3D49;
	display: block;
	text-decoration: none;
	text-align: center;
}

/*TEAM SECTION*/
.totalcard {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.totalcard .card {
	margin: 50px;
	width: 300px;
	border-radius: 10px;
	background: #fff;
}
.totalcard .card{
	box-shadow: inset 0 0 10px rgba(0,0,0,0.3),
					0 0 10px rgba(0,0,0,0.2);
}
.card:nth-child(1){
	border-top: 5px solid #3B3B6E;
}
.card:nth-child(2){
	border-top: 5px solid #3B3B6E;
}
.card:nth-child(1):hover {
	box-shadow: inset 0px 0px 10px rgba(150, 154, 154, 0.2),
				1px 1px 30px rgba(71, 71, 71, 0.3);
}
.card:nth-child(2):hover {
	box-shadow: inset 0px 0px 10px rgba(150, 154, 154, 0.2),
				1px 1px 30px rgba(71, 71, 71, 0.3);
}
.totalcard .card img {
	width: 100px;
	height: 100px;
	margin-top: 5px;
	cursor: pointer;
	border-radius: 50px;
	transition-duration: .8s;
}

.totalcard .card img:hover {
	transform: scale(2.5);
	border-radius: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#detail p{
	font-size: 15px;
	line-height: 25px;
	font-variant: small-caps;
	text-align: center;
	margin: 25px;
	margin-bottom: 0px;
	margin-top: 0px;
}
#detail button {
	outline: none;
	border-radius: 10px;
	border-style: none;
	border: 1px solid #3B3B6E;
	padding: 9px 25px;
	cursor: pointer;
	transition-duration: .4s;
}
#detail a {
	bottom: 80px;
	text-decoration: none;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 90px;
	align-self: center;
}
.btn-ali:hover {
	background: #3B3B6E;
	color: #fff;
}
.btn-zaid:hover {
	background: #3B3B6E;
	color: #fff;
}
.btn-Mustafa:hover {
	background: #3B3B6E;
	color: #fff;
}
.card-title {
	font-size: 17px;
	color: #343A40;
	padding: 20px;
	font-weight: 700;
}

/*FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #343A40;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #B22233;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #3B3B6E;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/
@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
	.logo {
		transition: 1s;
		margin-left: 30%;
	}
	nav ul, .srch, .get-started{
		display: none;
	}
	.menu {
		display: block;
	}
	nav {
		padding-bottom: 20px;
		border-bottom: 1px solid #0005;
		/* position: fixed; */
		/* top: 0; */
	}
	.quote p, .quote h5, .play {
		justify-content: center;
		text-align: center;
	}
	.quote p {
		font-size: 30px;
	}
	.service-container .right-side img {
		width: 90%;
	}
	.title {
		margin-top: 0px;
	}
	
}
@media screen and (max-width: 700px) {
	footer .btn{
		margin: 0;
		width: 100%;
		margin-top: 20px;
	}
	.svg-image img {
		width: 90%;
		margin: 20px;
		/* align-self: center; */
	}
}

@media screen and (max-width: 1000px) {	
	.feedbox form input, .feedbox form .fname{
		width: 100%;
	}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
	position: fixed;
	bottom: 40px;
	right: 30px;
	background-color: var(--kappel);
	color: var(--white);
	font-size: 20px;
	padding: 15px;
	border-radius: var(--radius-circle);
	z-index: 3;
	opacity: 0;
	pointer-events: none;
	transition: var(--transition-1);
  }
  
  .back-top-btn.active {
	transform: translateY(10px);
	opacity: 1;
	pointer-events: all;
  }
  
}

.to-top-btn{
	width: 50px;
	height: 50px;
	z-index: 99;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: red;
}