@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    background: #f3f3f5;
}

.body-fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: auto;
    left: auto;
}

body, html {
    overflow-x: hidden;
}

/* nav bar*/
header {
	height: 90vh;
	/* background: #000; */
}
.black {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

nav {
	padding-top: 20px;
	padding-bottom: 20px;
	top: 0;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 1000;
	background: #fff;
	justify-content: space-around;
	transition: 1.5s;
	align-items: center;
}
nav ul {
	display: flex;
	align-items: center;
}
nav ul li {
	list-style: none;
	margin: 5px 10px;
}
nav ul li a {
	padding: 2px 10px;
	color: #2e2e2e;
	cursor: pointer;
	transition: .5s;
	text-decoration: none;
}
nav ul li a:hover {
	color: #fff;
	border-radius: 5px;
	background: #3B3B6E;
}
.active {
	color: #fff;
	border-radius: 5px;
	background: #3B3B6E;
}

.nav-button .btn  {
    width: 130px;
    height: 40px;
    font-weight: 600;
    background: #3B3B6E;
    border: none;
	color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(67, 49, 49, 0.5);
}
#registerBtn{
    margin-left: 15px;
}

.btn.white-btn{
    background: #3B3B6E;
}
.btn.btn.white-btn:hover{
    background: rgba(16, 7, 7, 0.5);
}

.get-started {
	margin-left: 50px;
	padding: 5px 20px;
	border: 2px solid #3B3B6E;
	border-radius: 20px;
	text-decoration: none;
	transition: .5s;
	background-color: #3B3B6E;
	color: #fff;
}
.get-started:hover {
	color: #2e2e2e;
	background: #fff;
}
.logo img{
	width: 120px;
	cursor: pointer;
	transition: all 1s;
}

a, button {
	float: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #2E3D49;
	display: block;
	text-decoration: none;
	text-align: center;
}
.head-container {
	margin-top: 245px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.quote {
	width: 600px;
	transform: translateY(-50px);
}
.quote h5 {
	margin-top: 20px;
	color: #0009;
	line-height: 20px;
}
.quote p {
	font-size: 50px;
	color: #2e2e2e;
}
.quote .play {
	margin-top: 20px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.quote .play img {
	width: 45px;
	cursor: pointer;
	filter: drop-shadow(0 0 10px #0002);
}
.quote .play span a{
	margin-left: 10px;
	font-size: 20px;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
.svg-image img{
	margin-bottom: 70px;
	width: 500px;
	filter: drop-shadow(0 20px 10px rgba(0,0,0,0.2));
}

/* SIDE MENU */
.menu {
	cursor: pointer;
	width: 25px;
	display: none;
}
.side-menu {
	width: 100%;
	height: 100%;
	background: #2e2e2e;
	position: absolute;
	top: 0;
	transition: .8s;
	z-index: 2000;
	transform: translateX(-100%);
}
.side-menu ul {
	margin-top: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background: #FA4B37; */
}
.side-menu ul li {
	list-style: none;
	/* background: #009900; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-bottom: 1px solid #fff; */
	/* padding: 10px 0px; */
}
.side-menu ul li:hover a{
	background: #fff;
	color: #2e2e2e;
}
.side-menu ul li a{
	color: #FFF;
	width: 100%;
	font-size: 1em;
	/* background: #2E3D49; */
	text-decoration: none;
	padding: 15px 0px;
}
.close img{
	float: right;
	width: 35px;
	cursor: pointer;
	margin: 10px;
}
.user {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}
.user img {
	width: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
	filter: drop-shadow(0 10px 20px #0004);
	margin-right: 30px;
	cursor: pointer;
}
.user p {
	color: #fff;
	cursor: pointer;
}
.user img, .user p {
	opacity: 1;
}
/*Common things in all sections*/
#about_section, #portfolio_section, #team_section, #services_section, #contactus_section {
	font-family: 'Open Sans', sans-serif;
	color: #2E3D49;
	position: relative;
}
.diffSection {
	width: 100%;
	/*position: relative;*/
	justify-content: center;
	align-items: center;
}
.diffSection .content {
	margin: 10px;
	text-align: center;
	padding: 10px 100px;
	font-size: 1.1em;
}

.swiper-container-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
    flex-wrap: wrap
}

.swiper-container-multirow-column>.swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column
}

.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto
}
#gallery {
    padding-top: 120px;
}

.book-table-img {
    height: 70vh;
    min-height: 500px;
    border-radius: 30px;
}

.back-img {
    background-position: center;
    background-size: cover;
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}

.swiper-button-wp {
    position: relative;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.swiper-button-next, .swiper-button-prev {
    position: unset;
    width: 60px;
    height: 60px;
    display: inline-flex;
    font-size: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    color: #0d0d25;
    background: #ffffff;
    box-shadow: -20px 20px 60px #d4d4d4, 20px -20px 60px #ffffff;
    padding-top: 1px;
    padding-right: 2px;
    transition: 0.3s;
}

.swiper-button-next {
    box-shadow: 20px 20px 60px #d4d4d4, -20px -20px 60px #ffffff;
    padding-left: 3px;
}

.swiper-button-prev:hover {
    box-shadow: inset 5px 5px 20px #d4d4d4, inset -5px -5px 20px #ffffff;
    color: #3B3B6E;
}

.swiper-button-next:hover {
    box-shadow: inset -5px 5px 20px #d4d4d4, inset 5px -5px 20px #ffffff;
    color: #3B3B6E;
}

.swiper-pagination {
    padding: 10px 20px;
    display: inline-block;
    border-radius: 60px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 25px 28px 55px #d4d4d4, -28px -28px 55px #ffffff;
    max-width: fit-content;
    left: 50% !important;
    transform: translate(-50%, 0);
    bottom: 0 !important;
    color: #000;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0px 10px !important;
    border-radius: 10px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.swiper-pagination-bullet-active {
    background: #3B3B6E;
    width: 30px;
}
.gallery-img {
    height: 50vw;
}
.contact-info a {
    font-size: 18px;
    line-height: 28px;
}

.blog-text .h4-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 900;
    font-family: "playfair Display";
    color: #0d0d25;
    transition: 0.3s;
}

.blog-text .h4-title:hover {
    color: #3B3B6E;
}

.blog-date {
    padding: 5px 15px;
    background: #f8f9fa;
    box-shadow: inset 5px 5px 10px #e2e2e2, inset -5px -5px 10px #e8e8e8;
    display: inline-block;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 20px;
}

.blog-img {
    width: 100%;
    height: 280px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.blog-box {
    padding: 30px 25px;
    border-radius: 30px;
    background: linear-gradient(130deg, #f4efef, #fdfdfd);
    box-shadow: 30px 30px 50px #dcdcdc, -30px -30px 50px #ffffff;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    margin-bottom: 30px;
}

.blog-box:hover {
    transform: scale(0.9);
}

.top-footer, .bottom-footer {
    border-top: 1px solid rgb(204 204 204 / 40%);
    position: relative;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-info .social-icon {
    margin-top: 20px;
}

.footer-flex-box {
    display: flex;
    margin: 0 -10px;
}

.footer-flex-box>div {
    flex: 1;
    padding: 0 10px;
}

.footer-flex-box .h3-title {
    text-transform: capitalize;
    margin-bottom: 23px;
}

.footer-menu ul li a {
    color: #0d0d25;
    transition: 0.3s;
    text-transform: capitalize;
}

.footer-menu ul li a:hover, .footer-menu ul li .footer-active-menu {
    color: #ff8243;
}

.footer-menu ul li {
    margin-bottom: 8px;
}

.footer-table-info ul li {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.uil-clocl {
    font-size: 17px;
}

.copyright-text {
    padding: 20px 0;
}

.copyright-text p {
    margin: 0;
}

.name {
    color: #ff8243;
    font-weight: bold;
}

.scrolltop {
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    color: #ff8243;
    font-size: 26px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    border: none;
}

.scrolltop:hover {
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}
@media (max-width: 991px) {
    .js-parallax-scene {
        display: none;
    }
    .main-banner {
        padding: 140px 0 60px;
    }
    .h1-title {
        font-size: 60px;
        line-height: 80px;
    }
    .banner-img-wp {
        padding: 0;
        height: 75vw;
        padding-top: 50px;
    }
    .brands-box {
        padding: 0 30px;
    }
    .brands-row {
        margin: 0 -30px;
    }
    .menu-tab ul {
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
    }
    .menu-tab::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 100%;
        pointer-events: none;
        opacity: 0.2;
        border-radius: 0 60px 60px 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    }
    .sec-text {
        margin-top: 40px;
    }
    .call-now {
        border: none;
        margin: 40px 0;
        border-top: 3px dotted rgb(13 13 17 / 50%);
        border-bottom: 3px dotted rgb(13 13 17 / 50%);
        padding: 30px 0;
    }
    .book-table-info {
        max-width: 300px;
        margin: 30px auto 0;
    }
    .swiper-button-wp .swiper-button {
        display: none !important;
    }
    .testimonials-img img {
        position: unset;
        width: 100%;
    }
    .testimonials-img {
        margin-bottom: 60px;
    }
    .faq-row {
        column-count: 1;
        margin: 0;
    }
    .newsletter-box {
        padding: 40px;
    }
    .footer-info {
        margin-bottom: 50px;
    }
    .footer-flex-box {
        display: block;
        margin: 0;
    }
    .footer-flex-box>div {
        padding: 0;
        margin-bottom: 30px;
    }
    .faq-box {
        margin: 0;
        margin-bottom: 30px;
    }
    .footer-flex-box>div:last-child {
        margin: 0;
    }
    .scrolltop {
        bottom: 130px;
    }
    .footer-menu ul {
        max-width: 300px;
    }
    #gallery {
        padding-top: 90px;
    }
    .swiper-pagination-bullet {
        margin: 0 5px !important;
        width: 8px;
        height: 8px;
    }
    .swiper-pagination {
        padding: 6px 20px;
    }
    .swiper-button-wp {
        margin-top: 40px;
    }
    .swiper-pagination-bullet-active {
        width: 16px;
    }
    .dish-title .h3-title {
        display: block;
        min-height: auto;
        margin-bottom: 12px;
    }
    .menu-img {
        width: 180px;
        margin-inline: auto;
        margin-bottom: 20px;
    }
    #js-scroll-content {
        transform: unset !important;
    }
    body {
        height: auto !important;
    }
    .menu-tab ul::-webkit-scrollbar {
        height: 0;
    }
    .menu-tab {
        position: relative;
        display: flex;
    }
}

@media (min-width: 2100px) {
    .container {
        max-width: 1400px;
    }
    p, body, button, input {
        font-size: 18px;
        line-height: 32px;
    }
}

@media (max-width: 1399px) {
    .h1-title {
        font-size: 80px;
        line-height: 90px;
    }
    .h3-title {
        font-size: 26px;
        line-height: 36px;
    }
    .h4-title {
        font-size: 24px;
        line-height: 34px;
    }
    .h2-title {
        font-size: 38px;
        line-height: 48px;

    }
    .team-img {
        height: 400px;
    }
    .blog-box {
        padding: 30px 20px;
    }
    .dist-bottom-row ul li b {
        font-size: 25px;
    }
}

@media (max-width: 1199px) {
    .main-banner {
        padding: 200px 0;
    }
    .banner-img-wp {
        height: 360px;
    }
    .dish-box {
        padding: 0 0 40px;
    }
    .dist-img img {
        width: 220px;
    }
    .dist-img {
        margin-top: -110px;
    }
    .dist-bottom-row ul li b {
        font-size: 28px;
    }
    .sec-text {
        padding: 0;
    }
    .team-img {
        height: 340px;
    }
    .testimonials-box {
        padding: 30px 20px;
        margin: 26px 0 30px;
    }
    .testimonials-box-img {
        min-width: 80px;
        min-height: 80px;
        margin-top: -80px;
    }
    .faq-box .h4-title {
        padding: 16px 20px;
    }
    .faq-box p {
        padding: 8px 20px 20px;
    }
    .blog-img {
        height: 240px;
    }
    .newsletter-box-text {
        padding: 0;
    }
    .footer-flex-box>div {
        padding: 0 10px;
    }
    .star-rating {
        font-size: 19px;
    }
    .testimonial-box-top {
        margin-bottom: 10px;
    }
    .call-now a {
        font-size: 28px;
    }
    .menu-box {
        padding: 50px 20px 30px 20px;
    }
    .menu-img {
        width: 140px;
    }
}

@media (max-width: 991px) {
    .js-parallax-scene {
        display: none;
    }
    .main-banner {
        padding: 140px 0 60px;
    }
    .h1-title {
        font-size: 60px;
        line-height: 80px;
    }
    .banner-img-wp {
        padding: 0;
        height: 75vw;
        padding-top: 50px;
    }
    .brands-box {
        padding: 0 30px;
    }
    .brands-row {
        margin: 0 -30px;
    }
    .menu-tab ul {
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
    }
    .menu-tab::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 100%;
        pointer-events: none;
        opacity: 0.2;
        border-radius: 0 60px 60px 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    }
    .sec-text {
        margin-top: 40px;
    }
    .call-now {
        border: none;
        margin: 40px 0;
        border-top: 3px dotted rgb(13 13 17 / 50%);
        border-bottom: 3px dotted rgb(13 13 17 / 50%);
        padding: 30px 0;
    }
    .book-table-info {
        max-width: 300px;
        margin: 30px auto 0;
    }
    .swiper-button-wp .swiper-button {
        display: none !important;
    }
    .testimonials-img img {
        position: unset;
        width: 100%;
    }
    .testimonials-img {
        margin-bottom: 60px;
    }
    .faq-row {
        column-count: 1;
        margin: 0;
    }
    .newsletter-box {
        padding: 40px;
    }
    .footer-info {
        margin-bottom: 50px;
    }
    .footer-flex-box {
        display: block;
        margin: 0;
    }
    .footer-flex-box>div {
        padding: 0;
        margin-bottom: 30px;
    }
    .faq-box {
        margin: 0;
        margin-bottom: 30px;
    }
    .footer-flex-box>div:last-child {
        margin: 0;
    }
    .scrolltop {
        bottom: 130px;
    }
    .footer-menu ul {
        max-width: 300px;
    }
    #gallery {
        padding-top: 90px;
    }
    .swiper-pagination-bullet {
        margin: 0 5px !important;
        width: 8px;
        height: 8px;
    }
    .swiper-pagination {
        padding: 6px 20px;
    }
    .swiper-button-wp {
        margin-top: 40px;
    }
    .swiper-pagination-bullet-active {
        width: 16px;
    }
    .dish-title .h3-title {
        display: block;
        min-height: auto;
        margin-bottom: 12px;
    }
    .menu-img {
        width: 180px;
        margin-inline: auto;
        margin-bottom: 20px;
    }
    #js-scroll-content {
        transform: unset !important;
    }
    body {
        height: auto !important;
    }
    .menu-tab ul::-webkit-scrollbar {
        height: 0;
    }
    .menu-tab {
        position: relative;
        display: flex;
    }
}

@media (max-width: 767px) {
    .banner-img-wp {
        height: 75vw;
        min-height: 60vw;
        width: auto;
    }
    .dist-img img {
        width: 180px;
    }
    .dist-img {
        margin-top: -80px;
    }
    .menu-tab-wp {
        margin-bottom: 60px;
    }
    .dish-box {
        margin: 80px 0 30px;
    }
    .book-table-img {
        min-height: 340px;
        height: 60vh;
    }
    .team-img {
        height: 430px;
    }
    .dish-info ul li p {
        font-size: 16px;
        line-height: 26px;
        margin: 0;
    }
    .dish-info ul li b {
        font-size: 14px;
    }
    .brands-box {
        padding: 0 25px;
    }
    .brands-row {
        margin: 0 -25px;
    }
    .menu-tab ul li {
        padding: 10px 20px;
    }
}

@media (max-width: 575px) {
    .container, .container-fluid {
        padding: 0 30px;
    }
    .h1-title {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 20px;
    }
    .h1-title span {
        background-size: 100% 8px;
    }
    .banner-img-wp {
        height: 90vw;
    }
    .about-video-img {
        height: 30vw;
        min-height: 280px;
        border-radius: 30px;
    }
    .brands-box {
        padding: 0 15px;
        flex: 0 0 33%;
        margin-bottom: 30px;
    }
    .brands-row {
        margin: 0 -15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .dish-box {
        max-width: 340px;
        margin: 80px auto 30px;
        padding: 0 0 30px;
    }
    .blog-sec.section {
        padding-bottom: 0;
    }
    .brands-box img {
        max-width: 80%;
    }
    .brand-title {
        text-align: center;
    }
    .play-btn {
        width: 70px;
        height: 70px;
    }
    .play-btn-wp span {
        font-size: 18px;
    }
    .newsletter-box {
        padding: 15px;
    }
    .newsletter-form .form-input {
        padding: 0 130px 0 12px;
    }
    .menu-box {
        display: block;
        text-align: center;
    }
    .menu-box-right .dish-title .h3-title {
        padding: 0;
    }
    .gallery-img {
        height: 50vw;
    }
    .contact-info a {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (max-width: 480px) {
    .team-img {
        height: 330px;
    }
}

@media (max-width: 400px) {
    .container, .container-fluid {
        padding: 0 15px;
    }
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .newsletter-form button {
        position: unset;
        transform: translate(0);
        box-shadow: none !important;
        margin-top: 20px;
    }
    .newsletter-form .form-input {
        padding: 0 30px;
    }
    .team-box .h3-title {
        min-height: 72px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .team-img {
        height: 280px;
    }
    .blog-box {
        padding: 20px;
    }
}
.social-icon {
    margin: 15px 0px 10px;
}

.social-icon ul li {
    display: inline-block;
    margin: 0 6px;
}

.social-icon ul li:last-child {
    margin-right: 0;
}

.social-icon ul li:first-child {
    margin-left: 0;
}

.social-icon ul li a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
    color: #0d0d25;
    font-size: 19px;
}

.social-icon ul li a:hover {
    background: #ff8243;
}

.social-icon ul li a:hover i {
    color: #ffffff !important;
}

/*FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #343A40;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #B22233;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #3B3B6E;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/
@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
	.logo {
		transition: 1s;
		margin-left: 30%;
	}
	nav ul, .srch, .get-started{
		display: none;
	}
	.menu {
		display: block;
	}
	nav {
		padding-bottom: 20px;
		border-bottom: 1px solid #0005;
		/* position: fixed; */
		/* top: 0; */
	}
	.quote p, .quote h5, .play {
		justify-content: center;
		text-align: center;
	}
	.quote p {
		font-size: 30px;
	}
	.service-container .right-side img {
		width: 90%;
	}
	.title {
		margin-top: 0px;
	}
	
}
@media screen and (max-width: 700px) {
	footer .btn{
		margin: 0;
		width: 100%;
		margin-top: 20px;
	}
	.svg-image img {
		width: 90%;
		margin: 20px;
		/* align-self: center; */
	}
}

@media screen and (max-width: 1000px) {	
	.feedbox form input, .feedbox form .fname{
		width: 100%;
	}
}